<div class="row">
  <div class="medium-12 columns">
    <a href="--URL--" target="_blank">
      <h3 class="text-lines-3">
        <small class="subheader extra-small text-lines-1">--SUBHEADER--</small>
        <span>--HEADER--</span>
      </h3>
    </a>
  </div>
  <div class="medium-12 columns">
    <div class="frame ultrawide align-center">
      <a href="--URL--" target="_blank">
        <img src="--IMG--" onerror="this.src='{{ 'bps-classroom-big.jpg' | imgurl,size:'medium' }}'">
      </a>
    </div>
  </div>
  <div class="medium-12 columns t10 b15">
    <div class="text-lines-1"><b>{{ site.data.language.teachers }}: </b>--TEACHERS--</div>
    <div class="text-lines-1"><b>{{ site.data.language.duration }}: </b>--DURATION--</div>
    <div class="text-lines-1"><b>{{ site.data.language.start_date }}: </b>--DATE_START--</div>
    <div class="text-lines-1"><b>{{ site.data.language.end_date }}: </b>--DATE_END--</div>
    <div class="text-lines-1"><b>{{ site.data.language.day }}: </b>--DAY--</div>
    <div class="text-lines-1"><b>{{ site.data.language.time }}: </b>--TIME--</div>
    <div class="text-lines-1" style="display:none;"><b>{{ site.data.language.price }}: </b>--PRICE--</div>
  </div>
  <div class="medium-12 columns">
    <p>--EXCERPT--</p>
    <p>
      <a class="button" href="--URL--">{{ site.data.language.read_more_and_sign_up }}</a>
    </p>
  </div>
</div>
