    <div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
        <a class="iconfont" href="#top-of-page">&#xf108;</a>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->

    <footer id="footer-content" class="bg-grau">
      <div id="footer">
        <div class="row">
          <div class="small-12 medium-5 columns">
            <h5 class="shadow-black">{{ site.data.language.info_website }}</h5>
            <p class="shadow-black">
              {{ site.description }}
              <a href="{{ site.url }}{{ site.baseurl }}/about-us/">{{ site.data.language.more }}</a>
            </p>
          </div><!-- /.large-6.columns -->


          <div class="small-12 medium-6 columns">
            <h5>&nbsp;</h5>
            <p class="shadow-black">
                  <b>{{ site.name }}</b><br>
                  {{ site.email }}<br>
                  {{ site.tel }}
              </p>
          </div><!-- /.large-4.columns -->

        </div><!-- /.row -->

      </div><!-- /#footer -->


      <div id="subfooter">
        <nav class="row">
            <section class="b30 small-12 medium-6 large-6 columns credits">
                <p>
                    Handcrafted with &hearts; in Helsinki
                </p>
                    {% include footer-service-listing.html collection = site.data.oss notitle=true %} 
                    {% include footer-service-listing.html collection = site.data.network %} 
            </section>

          <section class="small-12 medium-6 large-4 columns b30">
                {% include footer-service-listing.html collection = site.data.footnotes notitle=true %} 
          </section>

          <section class="small-12 medium-12 large-2 columns">
            <ul class="inline-list social-icons">
            {% for social_item in site.data.socialmedia %}
              {% if social_item.visible != false %}
              <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
              {% endif %}
            {% endfor %}
            </ul>
          </section>
        </nav>
        <!--
        <div class="row">
            <a id="logo" href="{{ site.url }}" title="{{ site.title }} – {{ site.slogan }}">
                <img src="{{ site.urlassets }}img/{{ site.logo }}" alt="{{ site.title }} – {{ site.slogan }}">
            </a>
        </div>
        -->
      </div><!-- /#subfooter -->
    </footer>
