{% comment %} Title {% endcomment %}
{% capture title_tag %}{% if page.meta_title %}{{ page.meta_title }}{% elsif page.title %}{{ page.title }}{% endif %}{% endcapture %}

{% comment %} Description {% endcomment %}
{% if page.meta_description %}
  {% assign og_description = page.meta_description %}
{% elsif page.description %}
  {% assign og_description = page.description %}
{% elsif page.teaser %}
  {% assign og_description = page.teaser %}
{% elsif site.description %}
  {% assign og_description = site.description %}
  {% if page.excerpt %}{% if page.excerpt.size > 5 %}{% capture og_description %}{{ page.excerpt }} | {{ og_description }}{% endcapture %}{% endif %}
  {% else %}{% capture og_description %}{{ page.content | strip_html | truncate: 80 }} | {{ og_description }}{% endcapture %}{% endif %}
{% endif %}

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ title_tag }} | {{ site.title }}</title>
	<meta name="description" content="{{ og_description | strip_html | escape }}"/>
	{% if site.google_author %}<link rel="author" href="{{ site.google_author }}"/>{% endif %}
	{% include _favicon.html %}

	{% if site.google_site_verification %}<meta name="google-site-verification" content="{{ site.google_site_verification}}" />{% endif %}
	{% if site.bing_webmastertools_id %}<meta name="msvalidate.01" content="{{ site.bing_webmastertools_id }}" />{% endif %}
	{% if site.alexa_verify_id %}<meta name="alexaVerifyID" content="{{ site.alexa_verify_id }}" />{% endif %}

	<!-- Facebook Optimization -->
	<meta property="og:locale" content="{{ site.active_lang }}" />
	{% if site.og_type %}<meta property="og:type" content="website" />{% endif %}
	<meta property="og:title" content="{{ title_tag }}" />
	<meta property="og:description" content="{{ og_description | strip_html | escape }}" />
	<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{% unless site.active_lang == site.default_lang %}/{{ site.active_lang }}{% endunless %}{{ page.url }}" />
	{% if site.title %}<meta property="og:site_name" content="{{ site.title }}" />{% endif %}
	{% if page.image.thumb %}<meta property="og:image" content="{{ site.urlimg }}{{ page.image.thumb }}" />
	{% elsif page.image.src %}<meta property="og:image" content="{{ site.urlimg }}thumb/{{ page.image.src }}" />{% endif %}

	<!-- Search Engine Optimization -->
	{% if page.noindex == true %}<meta name="robots" content="noindex" />{% endif %}
	<link type="text/plain" rel="author" href="{{ site.url }}{{ site.baseurl }}/humans.txt" />
	{% I18n_Headers %}

	<!-- Styles and scripts -->
	<link rel="stylesheet" type="text/css" href="{{ site.urlassets }}css/styles_feeling_responsive.css?v=20221201-001" />
	<script src="{{ site.urlassets }}js/modernizr.min.js"></script>
	{% unless page.style == NULL %}
	<style type="text/css">{{ page.style }}</style>
	{% endunless %}


	{% include custom-head-scripts.html %}
