{% assign use_header = false %}
{% if page.header and page.image and page.image.src %}
	{% assign use_header = true %}
{% elsif page.header and page.header.background-color or page.header.pattern %}
	{% assign use_header = true %}
{% endif %}

{% if use_header %}



<div id="masthead-with-text" class="{% if page.image %}with-image {% endif %}{% if page.header.large %}large{% endif %}" style="
	{% if page.image and page.image.src %}background-image: url('{{ site.urlimg }}cover/{{ page.image.src }}'); {% endif %}
	{% if page.header.background-color %}background-color: {{ page.header.background-color }}; {% endif %}
	{% if page.header.pattern %}background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('{{ site.urlimg }}/{{ page.header.pattern }}'); {% endif %}">
	{% if page.iframe and page.iframe.src %}
	<div class="cover-media">
		<iframe src="{{ page.iframe.src }}"></iframe>
	</div>
	{% endif %}
	<div class="shadow" style="{% if page.header.shadow_opacity %}opacity: {{ page.header.shadow_opacity }}; {% endif %}"></div>
	<div class="row">
		<div class="small-12 columns" itemprop="name">
			<h1 class="masthead-title">{{ page.title }}</h1>
			<div class="masthead-subtitle">{{ page.subheadline }}</div>
		</div><!-- /.small-12.columns -->
	</div><!-- /.row -->
	{% if page.image and page.image.caption %}
	<div class="masthead-caption">
		{% if page.image.caption_url %}
		<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
		{% else %}
		{{ page.image.caption }}
		{% endif %}
	</div>
	{% endif %}
</div><!-- /#masthead -->

{% include _breadcrumb.html %}



{% else %}



{% include _breadcrumb.html %}

<div class="row t30">
	<div class="medium-8 columns medium-offset-2">
		{% if page.image and page.image.src %}
		<figure>
			<img src="{{ site.urlimg }}{{ page.image.src }}" width="970" alt="{{ page.title | escape_once }}" itemprop="image">

			{% if page.image.caption %}
			<figcaption class="text-right">
				{% if page.image.caption_url %}
				<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
				{% else %}
				{{ page.image.caption }}
				{% endif %}
			</figcaption>
			{% endif %}
		</figure>
		{% endif %}

		<span itemprop="name">
			{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
			<h1>{{ page.title }}</h1>
		</span>
	</div>
</div>



{% endif %}
