{% comment %}
# Custom scripts
{% endcomment %}

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
$(document).ready(function(){
  $('.carousel').each(function(index) {
    var el = $(this);
    var isVertical = el.hasClass("vertical");
    el.slick({
      arrows: false,
      dots: true,
      vertical: isVertical,
      verticalSwiping: isVertical,
      adaptiveHeight: false,
    });
  });
});
</script>
