{% assign old_entry = entry %}
{% unless entry %}
  {% assign entry = page %}
{% endunless %}
<p>
  {% if entry.date_end %}
    <b>{{ site.data.language.start_date }}: </b>{{ entry.date_start | time_tag }}<br>
    <b>{{ site.data.language.end_date }}: </b>{{ entry.date_end | time_tag }}<br>
  {% elsif entry.repeats %}
    <b>{{ site.data.language.start_date }}: </b>{{ entry.date_start | time_tag }}<br>
  {% else %}
    <b>{{ site.data.language.date }}: </b>{{ entry.date_start | time_tag }}<br>
  {% endif %}
  {% if entry.day %}
    <b>{{ site.data.language.day }}: </b>{{ entry.day }} {% if entry.repeats %}({{ entry.repeats }}){% endif %}<br>
  {% endif %}
  {% if entry.time %}
	<b>{{ site.data.language.time }}: </b>{{ entry.time }}<br>
  {% endif %}
  {% if entry.price %}
	<b>{{ site.data.language.price }}: </b>{{ entry.price }}<br>
  {% endif %}
  {% if entry.address %}
    <b>{{ site.data.language.address }}: </b>
    {{ entry.address }}
    {% if entry.alternative_address %} / {{ entry.alternative_address }}{% endif %}
    <br>
  {% endif %}
  {% if entry.links.facebook %}
    <b>{{ site.data.language.facebook }}: </b><a href="{{ entry.links.facebook }}" target="_blank">{{ entry.links.facebook }}</a><br>
  {% endif %}
  {% if entry.links.instagram %}
    <b>{{ site.data.language.instagram }}: </b><a href="{{ entry.links.instagram }}" target="_blank">{{ entry.links.instagram }}</a><br>
  {% endif %}
</p>

{% assign entry = old_entry %}
