{% comment %}
*   
*   This include lets you loop through a collection to list
*   all entries in that collection.
*   
*   If you set »published: false« in front matter of a collection page 
*   the page gots filtered out via unless
*
*   Example: {% include grid cols=3 collection=site.teachers template='teacher-snippet.html' %}
*   
{% endcomment %}

{% assign colcount = include.cols | default: 3 %}
{% assign colclass = 12 | divided_by: colcount %}

<div class="row">
	{% assign i = 0 %}
	{% for entry in include.collection limit:include.entries %}
		{% unless entry.published == false %}
			{% assign i_modulo = i | modulo: colcount %}
			{% if i > 1 and i_modulo == 0 %}
				</div><div class="row">
			{% endif %}
			<div class="large-{{ colclass }} columns">
				{% include {{include.template}} %}
			</div>
			{% assign i = i | plus: 1 %}
		{% endunless %}
	{% endfor %}
</div>
