<div class="row">
	<div class="medium-4 columns t10">
		<a href="{{ site.url }}{{ entry.url }}">
			<img src="{{ entry.image.src | imgurl, size: 'thumb' }}">
		</a>
	</div>
	<div class="medium-8 columns">
		<a href="{{ site.url }}{{ entry.url }}">
			<h3 class="t10">
				{% if entry.subtitle %}<small class="subheader">{{ entry.subtitle }}</small><br>{% endif %}
				{{ entry.title }}
			</h3>
		</a>
		<p>{{ entry.teaser | truncate: 160 }}</p>
		<p>
			<a href="{{ site.url }}{{ entry.url }}">{{ site.data.language.read_more }}</a>
		</p>
	</div>
</div>
