{% comment %}
<a href="{{ site.url }}{{ entry.url }}">
	<h3>{{ entry.name }}</h3>
	{% if entry.image?.url %}<img src="{{ site.urlimg }}thumb/{{ entry.image.src }}">{% endif %}
</a>
{% endcomment %}

{% include teacher-dances.html all=false %}

<h3>{{ entry.name }}</h3>

{% include teacher-dances.html all=true %}
<p class="subheader">Teacher in {{ teaching_dances | split: ';' | uniq | array_to_sentence_string: 'and' }}.</p>
<p class="subheader">
{% include teacher-dances.html all=false %}
{% if teaching_dances != '' %}
Teaches {{ teaching_dances | split: ';' | uniq | array_to_sentence_string: 'and' }} in {{ teaching_cities | split: ';' | uniq | array_to_sentence_string: 'and' }}
{% else %}
No current courses.
{% endif %}
</p>

{% if entry.image?.url %}<img src="{{ site.urlimg }}thumb/{{ entry.image.src }}">{% endif %}
<p>{{ entry.bio | truncate: 160 }}</p>
