{% comment %}
<a href="{{ site.url }}{{ entry.url }}">
	<h3>{{ entry.name }}</h3>
	{% if entry.image?.url %}<img src="{{ site.urlimg }}thumb/{{ entry.image.url }}">{% endif %}
</a>
{% endcomment %}

<h3>{{ entry.name }}{{ include.show_image }}</h3>

{% if entry.image.url and show_image != false %}
<figure class="frame ultrawide cover align-center">
	<img onerror="this.src='{{ site.urlimg }}black-32x32.png'" style="object-position: {{ entry.image.align | default: 'center center' }};" src="{{ site.urlimg }}thumb/{{ entry.image.url }}">
</figure>
{% endif %}

<p class="subheader">
{% if entry.dances %}
Teacher in {{ entry.dances | split: ',' | sort | uniq | array_to_sentence_string: 'and' }}.
{% else %}
No current courses.
{% endif %}
</p>

{% comment %}
// Parsing dances and courses for current teacher from courses pages. Not in use after courses moved to BPS Portal.

{% include teacher-dances.html all=true %}

<p class="subheader">Teacher in {{ teaching_dances | split: ';' | uniq | array_to_sentence_string: 'and' }}.</p>
<p class="subheader">
{% if teaching_dances != '' %}
Teaches {{ teaching_dances | split: ';' | uniq | array_to_sentence_string: 'and' }} in {{ teaching_cities | split: ';' | uniq | array_to_sentence_string: 'and' }}
{% else %}
No current courses.
{% endif %}
</p>
{% endcomment %}

<p>{{ entry.bio | truncate: 160 }}</p>
