<div itemprop="name">
  <div class="medium-10 xlarge-7 text-right">
  {% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
  </div>
  <h1>{{ page.title }}</h1>
</div>

<div class="medium-10 xlarge-8" markdown="1">

&nbsp;

{{ intro }}

</div>

<div class="button-group t30">
  {% for cta in page.main_ctas %}
    <a href="{{ cta.url }}" class="button {{ cta.type }}">{{ cta.title }}</a>
  {% endfor %}
</div>
<p class="t-15">
  <small>
    {% for cta in page.secondary_ctas %}
      <a href="{{ cta.url }}" class="secondary">{{ cta.title }}</a>{% unless forloop.last %} / {% endunless %}
    {% endfor %}
  </small>
</p>

<p class="text-center t30">
  {{ site.email }}<br>
  {{ site.tel }}
</p>

<div class="text-center t15">
  <ul class="inline-list social-icons" style="display: inline-block;">
    {% for social_item in site.data.socialmedia %}
    {% if social_item.visible != false %}
    <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

