<section class="hero-showcase row container width-max height-max align-items-center">
  <div class="show-for-medium-up medium-4 columns bg color-main"></div>
  <div class="show-for-small-only small-12 columns bg color-contrast"></div>
  <div class="row width-max align-items-center">
    <div class="medium-1 columns show-for-medium-up">&nbsp;</div>
    <div class="medium-5 small-12 columns aside t30 b30 pr5">
      <div class="show-for-small-only small-6 columns bg color-main"></div>

      <div class="show-for-medium-up t50"></div>

      <div class="vertical frame-container shadow-pop media-wait-ready" style="background-color: black;">
        <div class="cover-media frame square">
          <div class="wait-image" style="background-image: url('{{ 'bps/bps-circle-off-white-web.png' | imgurl,size:'medium' }}');"></div>
          <iframe src="https://www.youtube.com/embed/nt2lpQdxVkY?rel=0&amp;controls=0&amp;disablekb=1&amp;playsinline=1&amp;showinfo=0&amp;version=3&amp;loop=1&amp;playlist=nt2lpQdxVkY&amp;autoplay=1&amp;enablejsapi=1"></iframe>
        </div>
      </div>
      <div class="b90 show-for-medium-up"></div>
    </div>

    <div class="medium-6 small-12 columns end t30 b30">
      <div class="medium-12 columns">
        <div class="show-for-medium-up t50"></div>
        {% include index_blocks/block-intro.html %}
        <div class="b90 show-for-medium-up"></div>
      </div>
    </div>
  </div>
</section>

<div class="show-for-medium-up t-90"></div>

<section class="row width-max bg-color color-main">
  <div class="medium-1 columns show-for-medium-up">&nbsp;</div>
  <section class="medium-10 columns end">
    <div class="row t50 b30">
      {% for cta in page.featured_ctas %}
      <div class="medium-4 columns">
        <a href="{{ cta.url }}">
          <div class="frame landscape cover">
            <img src="{{ cta.img | imgurl,size:'small' }}" />
          </div>
        </a>
        <a href="{{ cta.url }}" class="button expand">{{ cta.title }}</a>
      </div>
      {% endfor %}
    </div>
  </section>
</section>

