<section class="b30">
  <h2 class="text-center">{{ site.data.language.inspiration }}</h2>
  <div class="row">
    <div class="columns medium-6 small-12">
      <div class="article-media">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/vViI2Io_TeM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="columns medium-6 small-12">
      <div class="article-media">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/cbF358ml5dk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <br/>
  <p class="text-center"><a href="https://www.youtube.com/c/BlackPepperSwing">{{ site.data.language.more_videos_youtube }}</a></p>
</section>
