.list-fit-content {
	li { width: fit-content; }
}

.list-center {
	li { margin: 0 auto; }
}

.list-checkmarks {
	list-style-type: "✓";
}

ul.side-nav {
	li.heading {
		border: 0;
		color: inherit;
		text-transform: none;
	}
}
