$slick-font-family: "sans";

$slick-dot-size: 32px;
$slick-opacity-not-active: 0.4;

$slick-dot-color: darken($color-contrast, 24%);
$slick-dot-color-active: $color-accent;

$slick-arrow-color: darken($color-contrast, 24%);
