---
layout: page
---

{% include course-jsonld.html %}

<div class="text-right">
	<div class="fb-save" data-uri="{{ page.url | absolute_url }}" class="float-right"></div>
</div>

{% include course-info-snippet.html show_additional_info=true %}

{% if page.default_pricing %}
	{% if site.active_lang == 'en' %}
		<h4>Discounts</h4>
		-10% if student or unemployed</br>
		-25% for every additional parallel BPS course (no other discounts)<br>
	{% elsif site.active_lang == 'fi' %}
		<h4>Alennukset</h4>
		-10% opiskelijoille ja työttömille</br>
		-25% kaikista samaan aikaan käydyistä muista BPS kursseista (ei muita alennuksia)<br>
	{% endif %}
{% endif %}

{% if page.registration_open and page.registration_close %}
<h4>{{ site.data.language.registration }}</h4>
<b>{{ site.data.language.opens_registration }}:</b> {{ page.registration_open | time_tag: format: "%d %B %Y at %H:%M" }}<br>
<b>{{ site.data.language.closes_registration }}:</b> {{ page.registration_close | time_tag: format: "%d %B %Y at %H:%M" }}
{% endif %}

<hr>

{{ content }}

{% if page.show_map %}
<hr>
{% include map.html %}
{% endif %}
