---
layout: page
---

{% include course-jsonld.html %}

<div class="text-right">
	<div class="fb-save" data-uri="{{ page.url | absolute_url }}" class="float-right"></div>
</div>

{% include course-info-snippet.html show_address=true %}

{% if page.default_pricing %}
	{% if site.active_lang == 'en' %}
		<h4>Pricing and discounts</h4>
		48 € per month<br>
		-10% if student or unemployed</br>
		-5% from total when paid in one batch<br>
	{% elsif site.active_lang == 'fi' %}
		<h4>Hinnoittelu ja alennukset</h4>
		48 € kuukaudessa<br>
		-10% opiskelijoille ja työttömille</br>
		-5% loppusummasta kun koko kurssi maksetaan kerralla<br>
	{% endif %}
{% endif %}

{% if page.registration_open and page.registration_close %}
<h4>{{ site.data.language.registration }}</h4>
<b>{{ site.data.language.opens_registration }}:</b> {{ page.registration_open | time_tag }}<br>
<b>{{ site.data.language.closes_registration }}:</b> {{ page.registration_close | time_tag }}
{% endif %}

<hr>

{{ content }}

<hr>

{% if page.address %}
<h4>
	<small class="subheader">{{ site.data.language.address }}</small>
	<br>
{{ page.address }}</h4>
<br>
<iframe src="https://maps.google.com/maps?q={{ page.address }}&output=embed" width="620" height="230" frameborder="0" style="border:0;max-width:100%;" allowfullscreen></iframe>
{% endif %}
