---
layout: page
---

{% include course-info-snippet.html %}

{% if page.default_pricing %}
	{% if site.active_lang == 'en' %}
		<h4>Pricing and discounts</h4>
		48 € per month<br>
		-10% if student or unemployed</br>
		-5% from total when paid in one batch<br>
	{% elsif site.active_lang == 'fi' %}
		<h4>Hinnoittelu ja alennukset</h4>
		48 € kuukaudessa<br>
		-10% opiskelijoille ja työttömille</br>
		-5% loppusummasta kun koko kurssi maksetaan kerralla<br>
	{% endif %}
{% endif %}

{% if page.registration_open and page.registration_close %}
<h4>Registration</h4>
<b>{{ site.data.language.opens_registration }}:</b> {{ page.registration_open | time_tag }}<br>
<b>{{ site.data.language.closes_registration }}:</b> {{ page.registration_close | time_tag }}
{% endif %}

<hr>

{{ content }}
