---
layout: default
format: page-fullwidth
---
<article itemscope itemtype="http://schema.org/Article">
	{% include _masthead.html %}

	<div class="row t30">
		{% if page.sidebar %}
		<div class="medium-12 columns">
			{% include _sidebar.html %}
		</div>
		{% endif %}

		<div class="medium-12 columns">
			{% if page.teaser %}
			<p class="teaser" itemprop="description">
				{{ page.teaser }}
			</p>
			{% endif %}

			<div itemprop="articleSection">
			{{ content }}
			</div>

			{% if page.show_meta == true %}
			{% include _meta_information.html %}
			{% endif %}

			{% if page.comments == true %}
			{% include _comments.html %}
			{% endif %}
		</div><!-- /.medium-8.columns -->

	</div><!-- /.row -->
</article>
