---
layout: default
format: page-fullwidth
---
<article itemscope itemtype="http://schema.org/Article">
	{% include _masthead.html %}

	{% if page.sidebar %}
	<div class="medium-2 columns {% if page.sidebar.position == "right" %} medium-push-10{% endif %}">
		{% include _sidebar.html %}
	</div>
	{% endif %}

	<div class="row t30">
		<div class="medium-10 columns{% if page.sidebar == nil %} medium-offset-1 end{% elsif page.sidebar.position == "right" %} medium-pull-2{% endif %}">
			{% if page.teaser %}
			<p class="teaser" itemprop="description">
				{{ page.teaser }}
			</p>
			{% endif %}

			<div itemprop="articleSection">
			{{ content }}
			</div>

			{% if page.show_meta == true %}
			{% include _meta_information.html %}
			{% endif %}

			{% if page.comments == true %}
			{% include _comments.html %}
			{% endif %}
		</div><!-- /.medium-8.columns -->

	</div><!-- /.row -->
</article>
